.feedback-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  background-color: rgb(210, 134, 134);
}

.button-wrapper{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(132, 78, 182);
  color: white;
  cursor: pointer;
}

.buttons:active{
  background-color: rgb(114, 177, 177);
}


.icons{
  color: rgb(196, 196, 19);
  width: 36px;
  height: 36px;
}

.feedback-count{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.feedback-count.total{
  font-size: 24px;
  font-weight: 600;
}

.feedback-count.percentage{
  font-size: 24px;
  font-weight: 600;
}

.section{
  text-align: center;
}

.notification{
  font-size: 18px;
  color: rgb(39, 18, 200);
  font-weight: 600;
}